{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Epam</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% comment %} <link rel="stylesheet" href="{% static 'css/custom.css' %}"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="{% static 'css/signin.css' %}"> {% endcomment %}
            <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- swiper-->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    {% comment %} <link href="{% static 'css/carousel.css'%}" rel="stylesheet"> {% endcomment %}
    
    <script src="{% static 'js/main.js' %}"> </script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    
    </head>
    <body style="background-image:radial-gradient(circle farthest-corner at 10% 20%,rgba(234,249,251,0.63) 0.1% , rgba(239,249,251,0.63) 90.1%)">
      <input type="hidden" id="csrf" value="{{csrf_token}}">
        <header class="header">
         <!-- Responsive navbar-->
       {% if user.is_authenticated %}
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
              <a class="navbar-brand" href="/">
                  <img src="{% static 'assets/logo.png' %}" width="30" height="30" class="rounded d-inline-block align-top" alt="">
                  EPAM
              </a>
              <!--a class="navbar-brand" href="#!">Start Bootstrap</a-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'membre_list' %}">Membres</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'partenaires_list' %}">Services </a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'apropos' %}">A Propos</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                      <li class="nav-item"><a class="btn btn-primary ml-3" href="{% url 'add_blog' %}">Blog</a></li>
                      <li class="nav-item"><a class="btn btn-danger ml-3" href="{% url 'logout_view' %}">Se deconnecter</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      {% else %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/logo.png' %}" width="30" height="30" class="rounded d-inline-block align-top" alt="">
                EPAM
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'membre_list' %}">Membres</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'partenaires_list' %}">Services </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'apropos' %}">A Propos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="btn btn-success ml-3" href="{% url 'login_view' %}">Se connecter</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

      {% endif %}
  </header>
        {% block content %}
        
        {% endblock content %}


        <footer class="position-relative z-index-10 d-print-none bg-dark fixed-bottom">
   
            <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-6 text-center text-md-left">
                    <!--p class="text-sm mb-md-0">&copy; 2020, Your company.  All rights reserved.</p-->
                    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2024 , FuturisticCode .  All rights reserved.</p></div>
                  </div>
                 
                </div>
              </div>
            </div>
          </footer>

    </body>
</html>